 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title></title>
 </head>
 <body>
   <!--Start left side Menu-->
    <div class="left-side sticky-left-side" th:fragment="lefterBar">

        <!--logo-->
        <div class="logo">
            <a href="/"><img src="/assets/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="/assets/images/logo-icon.png" alt=""></a>
        </div>
        <!--logo-->

        <div class="left-side-inner">
            <!--Sidebar nav-->
            <ul class="nav nav-pills nav-stacked custom-nav">

                <li th:class="${activeUrl=='activemanage'?'menu-list nav-active':'menu-list'}"><a href="#"><i class="icon-layers"></i> <span>活动管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/active/pageList}">活动列表</a></li>
                        <li><a th:href="@{/active/toAdd}"> 活动添加</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-layers"></i> <span>用户管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="ui-buttons.html">用户列表</a></li>
                        <li><a href="ui-panels.html"> 用户添加</a></li>
                        <li><a href="ui-panels.html"> 角色列表</a></li>
                        <li><a href="ui-panels.html"> 角色添加</a></li>
                    </ul>
                </li>


            </ul>
            <!--End sidebar nav-->

        </div>
    </div>
    <!--End left side menu-->
    </body>
    </html>